@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

:root {
  --main: #222831;
  --secondary: #393e46;
  --highlight: #00adb5;
  --font: #eeeeee;
  --green: #218839;
  --red: #721c24;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
}

.song-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.content {
  width: 100%;
  height: 100vh;
  padding: 20px;
}

#song-img {
  width: 150px;
  height: 150px;
  border-radius: 0.5rem;
}

#song-title {
  margin-top: 2%;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1.25rem;
  text-align: center;
}

.controls {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.controls-container {
  display: flex;
  margin-bottom: 15px;
}

#vol {
  width: 100%;
}

.controls-container :nth-child(2) {
  margin: 0 50px;
}

.controls-container button,
#auth {
  background-color: var(--secondary);
  color: var(--font);
  border: 1px solid var(--highlight);
  border-radius: 0.5rem;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.controls-container button svg {
  color: var(--font);
  fill: var(--font);
  width: 15px;
}

#auth {
  margin-top: 15px;
}

#titlebar {
  height: 30px;
  width: 100%;
  /* background-color: red; */
  background-color: var(--main);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#titlebar h2 {
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 100;
  font-size: 0.8rem;
}

.titlebar_controls button svg {
  width: 15px;
  color: white;
  fill: white;
}

.titlebar_controls {
  display: flex;
}

.titlebar_controls button {
  background-color: transparent;
  border: none;
  height: 30px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#minimize:hover {
  transition: all ease-in 0.25s;
  background-color: var(--highlight);
}

#close:hover {
  transition: all ease-in 0.25s;
  background-color: #e81123;
}
